body { 
	font: normal 12px Helvetica, sans-serif;
	background: rgb(237, 237, 236);
	margin: 50px 0;
	padding: 0;
	overflow-y: scroll;
	height: 100%;
}

section, header, article, footer {
	display: block;
}

input {
	padding: 3px;
	border: 1px solid #999;
	cursor: pointer;
}

button {
	background-color: #FFF;
	color: #5C5C5C;
	padding: 5px 5px;
	cursor: pointer;
	font-weight: bold;

	border: 1px solid #999;
	border-radius: 4px;
	-moz-border-radius: 4px;
	
	box-shadow: 0 0 3px #999;
	-o-box-shadow: 0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
	-moz-box-shadow: 0 0 3px #999;
}

button:hover {
	background-color: #F9F9F9;
	border: 1px solid #666;
	color: #333;
	
	box-shadow: inset 0 1px 5px #CBE6F2, inset 0 -15px #F9F9F9;
	-o-box-shadow: inset 0 1px 5px #CBE6F2, inset 0 -15px #F9F9F9;
	-webkit-box-shadow: inset 0 1px 5px #CBE6F2, inset 0 -15px #F9F9F9;
	-moz-box-shadow: inset 0 1px 5px #CBE6F2, inset 0 -15px #F9F9F9;
}

button.disabled {
	background-color: #F9F9F9;
	color: #CCC;
	border: 1px solid #999;
	cursor: auto;
	
	box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

div.fileCatch {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 500;
}

form.container {
	margin: 0px auto;
	width: 886px;
}

div.step {
	width: 250px;
	height: 300px;
	float: left;
	margin: 20px;
	z-index: 1000;
	
	padding: 0px;
	overflow: hidden;
	background: #FFF;
	position: relative;
	
	border: 2px solid #666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	box-shadow: 0px 0px 10px #999;
	-o-box-shadow: 0px 0px 10px #999;
	-webkit-box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
}

div.step.green {
	box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #BEE6C0;
	-o-box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #BEE6C0;
	-webkit-box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #BEE6C0;
	-moz-box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #BEE6C0;
}

div.step.red {
	box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #F3D8D8;
	-o-box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #F3D8D8;
	-webkit-box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #F3D8D8;
	-moz-box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #F3D8D8;
}

div.step:hover, div.step.blue {
	box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #CBE6F2;
	-o-box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #CBE6F2;
	-webkit-box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #CBE6F2;
	-moz-box-shadow: 0px 0px 10px #999, inset 0px 0px 50px #CBE6F2;
}


div.step > div.top {
	height: 50px;
	overflow: hidden;
	box-shadow: 0 0px 4px #666;
	-o-box-shadow: 0 0px 4px #666;
	-webkit-box-shadow: 0 0px 4px #666;
	-moz-box-shadow: 0 0px 4px #666;
	
	line-height: 50px;
	font-size: 20px;
	padding-left: 10px;
	color: #333;
}

div.step > div.top > sup {
	font-size: 85px;
	font-weight: bold;
	line-height: 50px;
	position: relative;
	margin-right: 10px;
	float: right;
	color: #DEDEDE;
	text-shadow: 0px 1px 1px #666;
}

div.step > div.bottom {
	margin: 15px;
}

div.step > div.bottom > h2 {
	font-size: 14px;
	line-height: 16px;
	color: #666;
	margin-bottom: 10px;
}

div.step > div.bottom > h2 > img.loading {
	position: relative;
	float: right;
}

div.step > div.bottom > div {
    clear: both;   
}

div.step > div.bottom > div.ribbon {
	background-color: #F0EEAF;
	margin: 15px -15px 10px -15px;
	padding: 7px 15px;
	
	box-shadow: 0 0px 4px #666;
	-o-box-shadow: 0 0px 4px #666;
	-webkit-box-shadow: 0 0px 4px #666;
	-moz-box-shadow: 0 0px 4px #666;
}

div.step > div.bottom > div.ribbon > img {
	margin-right: 7px;
	vertical-align: middle;
	
}

div.step > div.bottom > div.ribbon > span.text {
	margin-right: 10px;
	line-height: 30px;
	height: 30px;
	display: inline-block;
	color: #333;
}

div.step > div.bottom > div.ribbon > button {
	float: right;
}

div.step > div.bottom > div.ribbon.error {
	background-color: #F3D8D8;
}

div.step > div.bottom > div.ribbon.success {
	background-color: #BEE6C0;
}

div.step > div.bottom > div.ribbon.success > img {
	cursor: pointer;
}

div.step > div.bottom > p.or {
    margin: 20px;
    border-top: 1px solid #CCC;
    position: relative;
}

div.step > div.bottom > p.or > sup {
    font-size: 8px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    left: 79px;
    background-color: #FFF;
    padding: 0px 5px;
    color: #666;
}

div.step > div.bottom > p.browse {
    background-color: #F0EEAF;
	margin: 15px -15px 10px -15px;
    padding: 0px;
	line-height: 30px;
	color: #333;
	
	box-shadow: 0 0px 4px #666;
	-o-box-shadow: 0 0px 4px #666;
	-webkit-box-shadow: 0 0px 4px #666;
	-moz-box-shadow: 0 0px 4px #666;
}

div.step > div.bottom > p.browse > sup {
    position: absolute;
    left: 15px;
    line-height: 30px;
    z-index: 1010;
    cursor: pointer;
}

div.step > div.bottom > p.browse > sup > img {
    margin-right: 10px;
    vertical-align: middle;
}

div.step > div.bottom > p.browse > input[type="file"] {
    margin: 0px;
    position: relaitve;
    opacity: 0;
    z-index: 1020;
    height: 30px;
    width: 250px;
}

img.loading {
    display: none;    
}

/* Step 1 -- */
#upload {
	font-size: 12px;
    color: #666;
    font-weight: bold;
}

#upload > input[name="overwrite"] {
	margin: 0px 5px 3px 0px;
    vertical-align: middle;
}

#upload > button[name="upload"] {
	margin-left: 10px;
}

/* Step 2 -- Popup */
div.popup-back {
    background-color: #666;
    opacity: .8;
    color: #FFF;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1500;
    display: none;
}

div.popup-list {
    margin: 10px;
    background-color: #FFF;
    position: absolute;
    width: 226px;
    max-height: 276px;
    z-index: 1600;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #666;
    display: none;
}

div.popup-list > div.top {
    height: 26px;
    line-height: 26px;
    padding: 5px;
    background-color: #F0EEAF;
    color: #333;
    cursor: pointer;
    
    box-shadow: 0 0px 4px #666;
	-o-box-shadow: 0 0px 4px #666;
	-webkit-box-shadow: 0 0px 4px #666;
	-moz-box-shadow: 0 0px 4px #666;
}

div.popup-list > div.top > img {
    margin: 0px 10px 0px 7px;
    vertical-align: middle;   
}

div.popup-list > div.bottom > ul {
    list-style-type: none;
    margin: 5px 0px;
}

div.popup-list > div.bottom > ul > li {
	padding: 5px 10px;
    line-height: 16px;
    cursor: pointer;
}

div.popup-list > div.bottom > ul > li > img {
    vertical-align: middle;
    margin-right: 10px;
}

/* Step Separator */

form.container > div.or {
	width: 1px;
	height: 200px;
	float: left;
	margin: 82px 0px;
	z-index: 1000;
	padding: 0px;
	position: relative;
	border-left: 1px solid #999;
}

form.container > div.or > sup {
	font-size: 8px;
    font-weight: bold;
    position: absolute;
    background-color: #EDEDEC;
    padding: 0px 5px;
    color: #333;
    z-index: 1005;
    width: 35px;
    left: -22px;
    top: 98px;
    -webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
}
